{% layout none %}
<!DOCTYPE html>
<html>

  <head>
    <title>Common Heir</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" href="{{ 'favicon.png' | asset_img_url: '24x24' }}" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ 'theme.bundle.css' | asset_url | stylesheet_tag }}
    {% comment %}
      Klaviyo
    {% endcomment %}
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SuPJMT"></script>
  </head>
  <body class="bg-green-500">
    <div class="wrap wrap--pd flex h-100 w-full items-center" style="min-height: 100vh;">

      <div class="copy text-white flex flex-col text-center space-y-10">
        <h1 hidden>Common Heir</h1>
        <div class="mx-auto">
          <svg class="mx-auto mb-4" width="100" height="87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M98.18 27.76c-1.197-3.985-2.106-6.097-4.928-10.706-4.928-8.017-13.061-11.57-17.51-13.01l-1.388-.431V28c-7.176-1.008-14.64.576-19.759 4.416-10.286 7.826-9.042 17.81-6.746 22.468 2.201 4.464 7.32 5.712 11.196 4.656 3.588-.96 7.272-4.176 6.889-10.225-.335-4.849.813-8.593 3.3-11.042 1.58-1.584 3.446-2.352 5.072-2.736l.048 43.11c-7.129 3.936-15.453 6.193-24.352 6.193a50.487 50.487 0 01-24.782-6.481V3.469c2.105 0 4.64 1.2 6.746 3.312 1.913 1.872 4.975 6 4.593 12.674-.192 4.56 2.296 8.209 6.458 9.313a9.229 9.229 0 002.345.288c2.966 0 6.123-1.392 7.654-4.56 1.34-2.737 1.675-6.194.91-9.506-.91-4.08-3.397-7.825-7.177-10.801-.574-.432-1.292-.72-1.914-1.105-.095-.048-.143-.096-.191-.144-.191-.144-.43-.24-.622-.336C41.008 1.02 37.563.156 33.927.06c-.239 0-.478-.048-.67-.048-.813 0-1.578-.048-2.392.048-2.057.096-4.114.384-6.22 1.008-5.98 1.68-14.304 6.097-20.093 17.57C.772 26.129-.615 33.618.246 42.21.773 54.307 6.18 65.59 15.508 73.942 24.838 82.343 37.133 87 50.098 87c16.888 0 31.815-7.921 40.857-19.923.048-.048.048-.096.096-.144 5.645-7.537 8.946-16.706 8.946-26.595A41.476 41.476 0 0098.18 27.76zM30.147 2.22c.383-.048.765-.048 1.196-.096 5.262-.432 10.573.816 14.161 3.697 7.08 5.569 7.846 13.106 5.645 17.714-1.435 2.977-4.88 3.84-7.559 3.169-1.196-.336-5.119-1.777-4.784-7.105.479-7.537-3.062-12.194-5.215-14.354a13.338 13.338 0 00-2.009-1.68c-.67-.48-1.387-.913-2.105-1.249-.048 0-.096-.048-.096-.048.24 0 .479 0 .766-.048-.048 0-.048 0 0 0zM23.21 77.11c-2.201-1.392-4.354-2.976-6.316-4.752C7.997 64.341 2.83 53.588 2.351 42.066v-.048c-.813-8.257.431-15.17 4.115-22.42C11.25 10.046 17.9 5.726 23.21 3.758V77.11zM74.4 33.474c-1.147.24-2.248.624-3.3 1.104-.144.048-.287.144-.43.192-1.053.528-2.01 1.2-2.824 2.016-2.918 2.88-4.257 7.297-3.923 12.674.24 4.032-1.722 7.057-5.31 8.017-3.062.816-7.033-.144-8.755-3.553-2.058-4.08-3.062-12.865 6.124-19.826 3.731-2.833 8.898-4.32 14.209-4.32 1.387 0 2.822.095 4.258.335 1.53.24 3.014.576 4.449 1.056 3.253 1.105 6.076 2.737 8.372 4.849-2.487-1.536-5.502-2.592-8.85-2.88-1.436-.096-2.727.048-4.02.336zm18.994 21.363c-.478 2.976-1.674 6.577-4.114 10.897-3.445 4.56-7.75 8.545-12.726 11.618l-.048-42.15c.67-.048 1.244-.048 1.674 0 6.89.528 12.248 5.04 13.827 9.073l.048.096c.526 1.344 1.243 3.12 1.483 5.52a28.614 28.614 0 01-.144 4.946zm2.201-1.105c.144-1.392.144-2.736.048-3.888a25.274 25.274 0 00-.861-5.377c-2.105-7.345-7.512-12.77-15.214-15.314-1.005-.336-2.01-.576-3.014-.816V6.54c4.305 1.584 10.908 4.945 14.974 11.617 2.68 4.417 3.54 6.433 4.689 10.226a41.993 41.993 0 011.722 11.954c-.048 4.656-.909 9.12-2.344 13.393z" fill="#fff"/></svg>
          <svg width="300" height="36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.956 23.502c.466 1.414.466 3.063 0 4.948-.467 1.885-1.401 3.475-2.801 4.653-2.043 1.826-4.785 2.769-8.17 2.887-3.384.117-6.535-.766-9.453-2.769C3.04 29.923.53 25.387.063 19.615c-.35-4.713.759-8.895 3.268-12.488.35-.471.7-.942 1.109-1.355.35-.47 1.342-1.59 2.976-2.65.058-.06.116-.118.175-.118.525-.353 1.05-.648 1.575-.884.992-.47 2.1-.883 3.326-1.236C15.993 0 21.07.47 23.812 2.238c4.26 2.769 5.019 6.067 3.618 8.482-.817 1.414-2.509 2.062-4.084 2.062-.526 0-1.05-.059-1.576-.236-2.042-.589-3.21-2.18-3.093-4.123.117-1.826-.408-3.652-1.867-4.771-.933-.766-1.984-1.12-3.092-1.178-3.326-.059-6.711 3.063-6.36 13.607.116 3.828 1.341 7.657 3.384 10.072 2.042 2.415 4.668 3.593 7.935 3.593.817 0 1.576-.059 2.276-.236.7-.176 1.342-.353 1.867-.589a7.423 7.423 0 001.576-.942c.467-.354.934-.707 1.284-1.12.35-.353.7-.765.992-1.177.291-.413.525-.825.7-1.12.175-.353.408-.706.584-1.06zM132.288 9.483c-1.925 0-3.326.354-4.785 1.06-3.267 1.591-4.901 4.006-5.31 4.713-.175-2.18-1.05-5.714-4.96-5.714-1.925 0-3.326.354-4.784 1.06-3.443 1.65-5.135 4.3-5.427 4.83 0-1.472.058-3.121.058-3.534 0-1.001-.058-2.179-1.459-1.943-3.267.589-6.593-.118-6.593-.118.408.648.291 25.446 0 25.976h8.111c-.234-.59-.059-17.73-.059-17.73v-.176c.409-.766 2.101-3.947 3.91-4.772 2.567-1.178 3.968.53 4.084 4.772.059 2.473.292 16.905 0 17.906h7.236c-.35-1.001-.175-18.083-.175-18.083.467-.943 2.159-3.888 3.851-4.713 2.568-1.178 3.968.53 4.085 4.772.058 2.474.292 17.376 0 17.906h7.177c-.35-.53-.058-17.906 0-19.438v-.118c0-1.884-.408-6.597-4.96-6.656zm143.547 8.541s.058-5.419.058-6.243c0-1.002-.058-2.18-1.459-1.944-3.267.589-6.593-.118-6.593-.118.408.648.291 25.446 0 25.976h8.111c-.234-.589-.117-17.67-.117-17.67zm-10.153 1.65h-15.931s.059 3.887.817 5.772c.584 1.414 1.226 2.533 2.159 3.24.934.706 1.868 1.237 2.801 1.531.934.295 1.984.471 3.093.471 1.809 0 3.384-.412 4.785-1.237a6.137 6.137 0 001.692-1.354 1.992 1.992 0 01-.35.706l-.058.118c-.059.06-.059.118-.117.177v.059c-.642 1.12-1.342 2.12-2.217 3.004-2.276 2.356-5.019 3.534-8.228 3.534h-.292c-.233 0-.467 0-.7-.059-.175 0-.35 0-.467-.059-.35-.059-.7-.117-.934-.176h-.175c-2.1-.472-3.909-1.473-5.485-3.004-1.575-1.532-2.742-3.417-3.443-5.596-.466-1.414-.641-2.827-.641-4.241 0-1.767.291-3.476.933-5.066.642-1.59 1.517-3.004 2.626-4.182 1.109-1.178 2.393-2.12 3.91-2.768 1.517-.707 3.092-1.002 4.726-1.002h.175c2.451.06 4.668.825 6.652 2.297 1.984 1.473 3.443 3.476 4.377 5.89.058.354.292 1.945.292 1.945zm-7.411-6.48c-.234-1.06-1.342-3.004-3.735-3.063-1.634-.059-2.917.707-3.734 2.239-.817 1.413-1.109 2.71-1.109 5.242v.766h4.377c1.4 0 2.509-.06 3.384-1.237.875-1.178 1.167-2.474.817-3.947zm40.73-3.24c-.7-.706-1.576-1.06-2.684-1.06-3.151 0-5.836 1.944-7.119 4.654-.467.942-.701 1.59-.817 1.943 0-1.59.058-3.416.058-3.828 0-1.002-.058-2.18-1.459-1.944-3.268.589-6.594-.118-6.594-.118.409.648.292 25.446 0 25.976h8.111c-.175-.53-.116-12.664-.116-16.551.233-1.532.758-3.122 1.458-4.654.584-1.296 1.109-2.002 1.868-2.002.817 0 1.517.412 2.159 1.296l.583.942c.642.883 1.401 1.355 2.334 1.355a2.83 2.83 0 002.334-.943c.584-.707.876-1.531.876-2.533.058-.942-.292-1.826-.992-2.532zM95.061 16.14v.118c-.059 1.532-.35 18.85 0 19.438h-7.178c.292-.53.059-15.432 0-17.906-.116-4.241-1.517-5.95-4.084-4.772-1.693.766-3.385 3.77-3.852 4.713 0 0-.175 17.082.117 18.024h-7.236c.292-.942.059-15.432 0-17.906-.116-4.182-1.517-5.95-3.968-4.83-.175.058-.291.176-.466.294-1.693 1.12-3.852 4.418-3.852 4.418v-.06c-1.05 1.473-2.334 3.064-4.201 4.654-4.727 3.947-6.886 4.653-12.137 4.712-3.91.06-8.461-.942-10.679-3.828 0 1.826.175 3.534.467 5.183.35 1.767.817 3.24 1.517 4.418.642 1.178 1.517 1.767 2.568 1.767 1.05 0 1.867-.471 2.8-2.003 1.226-2.002 1.401-4.24 1.46-4.712 4.2.295 7.76-.648 7.76-.648-.233 1.002-2.334 4.712-4.901 6.715-1.75 1.355-4.085 1.944-6.828 1.944-2.742 0-5.018-.648-6.827-1.944-1.809-1.296-3.21-2.945-4.084-4.889-.934-1.944-1.343-4.064-1.343-6.303 0-2.297.467-4.358 1.343-6.302.933-1.944 2.275-3.593 4.084-4.889 1.81-1.296 4.085-1.944 6.77-1.944 2.742 0 5.017.648 6.826 1.944 1.81 1.296 3.151 2.945 4.085 4.889.934 1.944 1.4 4.064 1.4 6.302 0 .707-.058 1.414-.116 2.121.875-.294 1.692-.707 2.626-1.296 0-6.538-.059-13.312-.234-13.606 0 0 3.326.706 6.594.117 1.4-.235 1.459.943 1.459 1.944 0 .412 0 2.18-.058 3.711 0 0 0-.059.058-.059v-.059s1.634-3.063 5.427-4.889c1.458-.707 2.8-1.06 4.784-1.06 3.91.059 4.785 3.534 4.96 5.714.409-.707 2.043-3.122 5.31-4.713 1.46-.706 2.801-1.06 4.785-1.06 4.377-.059 4.844 4.653 4.844 6.538zM46.57 25.505c.117-.884.117-1.826.175-2.886 0-2.062-.117-3.947-.467-5.714-.35-1.767-.817-3.24-1.517-4.418s-1.517-1.767-2.568-1.767c-1.05 0-1.925.59-2.625 1.767-.7 1.178-1.226 2.651-1.576 4.418-.058.412-.175.884-.233 1.296-.584 5.713 4.785 7.186 8.81 7.304zm18.147-6.538s-2.567 4.005-7.76 6.774c-.059 5.006-.117 9.777-.234 10.013h8.053c-.234-.648-.059-16.787-.059-16.787zm125.691 16.787h-7.235c.291-.942.058-15.432 0-17.906-.117-3.888-1.459-5.714-3.56-5.007-.642.235-1.167.589-1.692 1.06-.409.412-.875.825-1.226 1.296-1.575 1.944-3.034 4.594-6.01 7.127-4.726 3.947-6.885 4.653-12.137 4.712-3.91.06-8.461-.942-10.679-3.828 0 1.826.175 3.534.467 5.183.35 1.767.817 3.24 1.517 4.418.642 1.178 1.518 1.767 2.568 1.767s1.867-.471 2.801-2.003c1.225-2.002 1.4-4.24 1.459-4.712 4.201.295 7.76-.648 7.76-.648-.233 1.002-2.334 4.712-4.901 6.715-1.751 1.355-4.085 1.944-6.827 1.944-2.743 0-5.019-.648-6.828-1.944-1.808-1.296-3.209-2.945-4.084-4.889-.934-1.944-1.342-4.064-1.342-6.303 0-2.297.466-4.358 1.342-6.302.933-1.944 2.276-3.593 4.084-4.889 1.809-1.296 4.085-1.944 6.769-1.944 2.743 0 5.019.648 6.827 1.944 1.809 1.296 3.152 2.945 4.085 4.889.934 1.944 1.401 4.064 1.401 6.302 0 .707-.059 1.414-.117 2.121.875-.294 1.75-.707 2.684-1.355 0-6.538-.058-13.253-.233-13.606 0 0 3.326.706 6.594.117 1.4-.235 1.458.943 1.458 1.944 0 .413 0 2.12-.058 3.652.058-.059.058-.118.117-.177.116-.235.408-.647.817-1.119a12.083 12.083 0 013.209-2.827c.058-.059.117-.059.175-.118a7.47 7.47 0 011.167-.648c1.459-.707 2.801-1.06 4.785-1.06 3.91.059 4.785 3.534 4.96 5.714-.175-.177-.35 19.438-.117 20.38zm-33.494-10.25c.117-.883.117-1.825.175-2.885 0-2.062-.117-3.947-.467-5.714-.35-1.767-.817-3.24-1.517-4.418s-1.517-1.767-2.567-1.767c-1.051 0-1.926.59-2.626 1.767-.7 1.178-1.226 2.651-1.576 4.418-.058.412-.175.884-.233 1.296-.584 5.713 4.785 7.186 8.811 7.304zm18.206-6.655s-2.626 4.064-7.761 6.774c-.058 5.006-.117 9.836-.233 10.072h8.111c-.292-.589-.117-16.846-.117-16.846zm96.806-10.956c2.159 0 3.91-1.767 3.91-3.947 0-2.179-1.751-3.946-3.91-3.946-2.159 0-3.909 1.767-3.909 3.946 0 2.18 1.75 3.947 3.909 3.947zm-33.202 10.131s.058-15.138.058-15.904c0-1-.058-2.179-1.459-1.943-3.267.589-6.593-.118-6.593-.118.175.294.291 8.953.233 17.612h-10.328c0-2.12.058-14.903.058-15.61 0-1-.058-2.179-1.459-1.943C215.967.707 212.64 0 212.64 0c.409.648.292 35.106 0 35.636h8.111c-.175-.53-.116-12.723-.116-16.552h10.328c0 8.365-.117 16.317-.233 16.552h8.111c-.234-.53-.117-17.612-.117-17.612z" fill="#fff"/></svg>
        </div>
        <p class="text-xl">Skincare that’s all results, zero plastic.
          <br/>Starting with reimagined Vitamin C.</p>
        {% comment %}
          <div class="klaviyo-newsletter-signup">
                      <div class="klaviyo-form-WLuiLe"></div>
                    </div>
        {% endcomment %}
        {{ form.errors | default_errors }}
        <div id="storefront_access">
          <a class="border-b font-header uppercase text-xs text-gray-200 inline-block" href="#">Enter store using password</a>
        </div>
        <div id="storefront_password" class="hidden">
          {% form 'storefront_password' %}
            <div class="flex flex-col space-y-6">
              <input class="bg-black px-4 py-2 w-full" type='password' name='password' id='password' autofocus placeholder="Enter store password"/>
              <div class="actions">
                <input class="btn btn--small" name="commit" type="submit" value="Enter"/>
              </div>
            </div>
          {% endform %}
        </div>

        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% endif %}
      </div>

    </div>

    <script type="text/javascript">
      document.getElementById('storefront_access').addEventListener('click', (event) => {
        event.preventDefault();

        document.getElementById('storefront_password').classList.remove('hidden');
        document.getElementById('storefront_access').classList.add('hidden')
      });
    </script>

  </body>
</html>
