<style>
  .home-icons .home-icons__wrap {
    max-width: 200px;
  }

  .home-icons .home-icons__image {
    height: 100px;
    width: 100px;
    margin: auto;
  }
</style>

<section id="home-icons--{{ section.id }}" class="home-icons section py-10 sm:py-10 bg-cream-500">
  <div class="copy copy--wide grid grid-cols-2 justify-items-center sm:grid-cols-4 gap-4" {% if section.settings.enable_animations %}data-aos="{{ section.settings.animation_style }}" data-aos-duration="{{ section.settings.animation_duration }}"{% endif %}>
    {% for block in section.blocks %}
      <div class="home-icons__wrap w-full flex-none">
        <img class="home-icons__image lazyload" data-src="{{ block.settings.icon_image | img_url: '200x' }}" src="{{ block.settings.icon_image | img_url: '25x' }}" alt="Icon {{ forloop.index }}">
        <h6 class="text-center text-lg">{{ block.settings.icon_title }}</h6>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
    "name": "Home Icons",
    "settings": [
      {
        "type": "header",
        "content": "Animations"
      },
      {
        "type": "checkbox",
        "id": "enable_animations",
        "label": "Enable Animations",
        "default": false
      },
      {
        "type": "select",
        "id": "animation_style",
        "label": "Animation Style",
        "options": [
          {
            "group": "Fade",
            "value": "fade-up",
            "label": "Fade up"
          },
          {
            "group": "Fade",
            "value": "fade-down",
            "label": "Fade down"
          },
          {
            "group": "Fade",
            "value": "fade-left",
            "label": "Fade left"
          },
          {
            "group": "Fade",
            "value": "fade-right",
            "label": "Fade right"
          },
          {
            "group": "Flip",
            "value": "flip-up",
            "label": "Flip up"
          },
          {
            "group": "Flip",
            "value": "flip-down",
            "label": "Flip down"
          },
          {
            "group": "Flip",
            "value": "flip-left",
            "label": "Flip left"
          },
          {
            "group": "Flip",
            "value": "flip-right",
            "label": "Flip right"
          }
        ],
        "default": "fade-up"
      },
      {
        "type": "range",
        "id": "animation_duration",
        "min": 100,
        "max": 1000,
        "step": 50,
        "unit": "ms",
        "label": "Animation Duration (ms)",
        "default": 300
      }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Icons",
        "category": "Section"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "icon_title",
            "label": "Icon Title"
          }
        ]
      }
    ]
  }
{% endschema %}
