{% comment %} Hero {% endcomment %}

<section id="page-story-hero--{{ section.id }}" class="hero {% if section.settings.full_height %} hero--full{% endif %} relative bg-gray-200">
  {%- if section.settings.image != blank -%}
    {% assign desktop_class = 'hero__image hidden md:block' %}
    {%- if section.settings.image_mobile != blank -%}
      {% assign desktop_class = desktop_class | append: ' hidden' %}
    {% endif %}
    {% include 'responsive-image' with image: section.settings.image, image_class: desktop_class %}
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg hero__image' }}
  {%- endif -%}
  {%- if section.settings.image_mobile != blank -%}
    {% include 'responsive-image' with image: section.settings.image_mobile, image_class: 'hero__image hero__image--mobile md:hidden' %}
  {%- endif -%}

  <div class="hero__content wrap wrap--pd mx-auto justify-center items-center text-center w-full" style="color: {{ section.settings.text_color }}">
    <div class="hero__content-block">
      {%- if section.settings.title != blank -%}
        <h1 class="h1 font-header mb-6">{{ section.settings.title }}</h1>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        <div class="large">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
      {%- if section.settings.button_label != blank -%}
        <div class="mt-8"><a href="{{ section.settings.button_link }}" class="{{ section.settings.button_type }}">{{ section.settings.button_label }}</a></div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)"
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height",
        "info": "Adjust to the full height of the browser window. Image cropping occurs from the center. Does not apply to small screens.",
        "default": false
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Hero Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button Type",
        "options": [
          {
            "value": "btn",
            "label": "primary"
          },
          {
            "value": "btn btn--secondary",
            "label": "secondary"
          }
        ],
        "default": "btn"
      }
    ]
  }
{% endschema %}